<a href="https://colab.research.google.com/github/leahloschiavo/deep-learning-challenge/blob/main/Deep_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.compat.v1.losses import sparse_softmax_cross_entropy


#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

non_beneficial_columns = application_df.drop(['EIN', 'NAME'], axis=1)
non_beneficial_columns

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
number_values = application_df.nunique()
print(application_df.nunique())

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(app_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value for the number of occurrences
cutoff_value = 500

# Get the counts of each application type
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Identify application types to be replaced with 'Other'
types_to_replace = app_type_counts[app_type_counts < cutoff_value].index

# Replace in the DataFrame
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(types_to_replace, 'Other')

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classification_bins = application_df['CLASSIFICATION'].value_counts
application_df['CLASSIFICATION'].value_counts

<bound method IndexOpsMixin.value_counts of 0        C1000
1        C2000
2        C3000
3        C2000
4        C1000
         ...
34294    C1000
34295    C3000
34296    C2000
34297    C3000
34298    C1000
Name: CLASSIFICATION, Length: 34299, dtype: object>

In [ ]:
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Identify classifications with counts greater than 1
classifications_to_group = classification_counts[classification_counts > 1].index

# Replace classifications with counts less than or equal to 1 with 'Other'
application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].apply(lambda x: 'Other' if x not in classifications_to_group else x)

# Check the updated value counts
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Other       26
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [6]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Choose a cutoff value
cutoff_value = 500

classifications_to_replace = application_df['CLASSIFICATION']


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

Other    34299
Name: CLASSIFICATION, dtype: int64

In [8]:
import pandas as pd

# Assuming 'application_df' is your DataFrame and you want to convert categorical columns to dummy variables
# Drop non-beneficial columns first
non_beneficial_columns = application_df.drop(['EIN', 'NAME'], axis=1)

# Get list of categorical columns
categorical_columns = non_beneficial_columns.select_dtypes(include=['object']).columns

# Convert categorical columns to dummy variables
application_encoded = pd.get_dummies(non_beneficial_columns, columns=categorical_columns)

# Display the DataFrame with dummy variables
print(application_encoded)

       STATUS   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_T10  \
0           1      5000              1                     1
1           1    108590              1                     0
2           1      5000              0                     0
3           1      6692              1                     0
4           1    142590              1                     0
...       ...       ...            ...                   ...
34294       1      5000              0                     0
34295       1      5000              0                     0
34296       1      5000              0                     0
34297       1      5000              1                     0
34298       1  36500179              0                     0

       APPLICATION_TYPE_T12  APPLICATION_TYPE_T13  APPLICATION_TYPE_T14  \
0                         0                     0                     0
1                         0                     0                     0
2                         0                     0                     0
3                         0                     0                     0
4                         0                     0                     0
...                     ...                   ...                   ...
34294                     0                     0                     0
34295                     0                     0                     0
34296                     0                     0                     0
34297                     0                     0                     0
34298                     0                     0                     0

       APPLICATION_TYPE_T15  APPLICATION_TYPE_T17  APPLICATION_TYPE_T19  ...  \
0                         0                     0                     0  ...
1                         0                     0                     0  ...
2                         0                     0                     0  ...
3                         0                     0                     0  ...
4                         0                     0                     0  ...
...                     ...                   ...                   ...  ...
34294                     0                     0                     0  ...
34295                     0                     0                     0  ...
34296                     0                     0                     0  ...
34297                     0                     0                     0  ...
34298                     0                     0                     0  ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                      0                       0                         0
1                      1                       0                         0
2                      0                       0                         0
3                      0                       1                         0
4                      0                       0                         1
...                  ...                     ...                       ...
34294                  0                       0                         0
34295                  0                       0                         0
34296                  0                       0                         0
34297                  0                       0                         0
34298                  0                       0                         0

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                       0                 0                       0
1                       0                 0                       0
2                       0                 0                       0
3                       0                 0                       0
4                       0                 0                       0
...                   ...               ...                     ...
34294                   0                 0                       0
34295                   0                 0                       0
34296                   0                 0                       0
34297                   0                 0                       0
34298                   0                 1                       0

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                    0                  0                         1
1                    0                  0                         1
2                    0                  0                         1
3                    0                  0                         1
4                    0                  0                         1
...                ...                ...                       ...
34294                0                  0                         1
34295                0                  0                         1
34296                0                  0                         1
34297                0                  0                         1
34298                0                  0                         1

       SPECIAL_CONSIDERATIONS_Y
0                             0
1                             0
2                             0
3                             0
4                             0
...                         ...
34294                         0
34295                         0
34296                         0
34297                         0
34298                         0

[34299 rows x 47 columns]

In [17]:
from sklearn.model_selection import train_test_split

# Assuming 'application_encoded' is your preprocessed DataFrame with dummy variables
# Assuming 'target_column_name' is the name of your target column

# Split the preprocessed data into features and target arrays
X = application_encoded.drop('STATUS', axis=1)  # Features
y = application_encoded['IS_SUCCESSFUL']  # Target

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Printing the shapes of the resulting arrays
print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (27439, 46)
Shape of X_test: (6860, 46)
Shape of y_train: (27439,)
Shape of y_test: (6860,)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [21]:
!pip install keras-tuner

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from kerastuner.tuners import RandomSearch
from kerastuner.engine.hyperparameters import HyperParameters

# Define the model
nn = tf.keras.models.Sequential()

# Hyperparameter for activation function
hp = HyperParameters()
activation = hp.Choice('activation', ['relu', 'tanh', 'sigmoid'])

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hp.Int('first_units',
                                           min_value=1,
                                           max_value=10,
                                           step=2),
                             activation=activation,
                             input_dim=2))

# Second hidden layer (you can repeat this for additional layers)
nn.add(tf.keras.layers.Dense(units=hp.Int('second_units',
                                            min_value=1,
                                            max_value=10,
                                            step=2),
                             activation=activation))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Collecting keras-tuner
  Downloading keras_tuner-1.4.6-py3-none-any.whl (128 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 128.9/128.9 kB 6.1 MB/s eta 0:00:00
Requirement already satisfied: keras in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.15.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.31.0)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2024.2.2)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.4.6 kt-legacy-1.0.5
Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1)                 3

 dense_1 (Dense)             (None, 1)                 2

 dense_2 (Dense)             (None, 1)                 2

=================================================================
Total params: 7 (28.00 Byte)
Trainable params: 7 (28.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

<ipython-input-21-01ddae20ff1b>:6: DeprecationWarning: `import kerastuner` is deprecated, please use `import keras_tuner`.
  from kerastuner.tuners import RandomSearch

In [26]:
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [40]:
def build_model(hp):
    model = keras.Sequential()
    activation = hp.Choice('activation', ['relu', 'tanh', 'sigmoid'])

    # Define the number of units for the first hidden layer
    hp_first_units = hp.Int('first_units', min_value=1, max_value=10, step=47)
    model.add(layers.Dense(units=hp_first_units, activation=activation, input_dim=47))

    # Define the number of units for the second hidden layer
    hp_second_units = hp.Int('second_units', min_value=1, max_value=10, step=2)
    model.add(layers.Dense(units=hp_second_units, activation=activation))

    # Output layer
    model.add(layers.Dense(units=1, activation='sigmoid'))

    # Compile the model
    model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

    return model

In [42]:
print(X_test_scaled.shape)

(6860, 46)

In [43]:
print(nn.layers[0].input_shape)

(None, 2)

In [44]:
X_test_scaled = X_test_scaled[:, :2]

In [46]:
# Ensure variable creation is done outside of any TensorFlow function
# Define your model (nn) and compile it here

# Evaluate the model using the test data
test_loss, test_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {test_loss}, Accuracy: {test_accuracy}")

215/215 - 1s - 627ms/epoch - 3ms/step

TypeError: argument of type 'NoneType' is not iterable

In [47]:
# Evaluate the model using the test data
test_loss, test_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {test_loss}, Accuracy: {test_accuracy}")

215/215 - 1s - 664ms/epoch - 3ms/step

TypeError: argument of type 'NoneType' is not iterable

In [49]:
# Export the model to the native Keras format
nn.save('your_model.keras')

print("Model saved to 'your_model.keras'")

Model saved to 'your_model.keras'

In [50]:

# Export the model to HDF5 file
nn.save('your_model.h5')

print("Model saved to 'your_model.h5'")

Model saved to 'your_model.h5'